.hero-bg {
    background: linear-gradient(to right, #102E32, #095660);
    color: white;
    padding: 10px 0 220px 0;
    width: 100%;
    margin: 0 auto -160px auto;
}

.hero-text-wrapper {
    max-width: 1320px;
    /* background-color: hotpink; */
    margin: 180px auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-text {
    max-width: 700px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    margin-top: 0;
    margin-bottom: 10px;
}

.hero-text h1 .highlighted {
    color: #89ADA8
}

.hero-text p {
    font-weight: 100;
}

.hero-collections {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.hero-section h1 {
    color: white;
}

a.hero-collection {
    position: relative;
    text-align: center;
    flex-basis: 1;
    width: 100%;
    height: 271px;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.05);
}



.hero-collection {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-collection img {
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
    display: block;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}

a.hero-collection:hover img {
    transform: scale(1.1);
}

.hero-collection-title {
    position: absolute;
    bottom: 12px;
    left: 0%;
    color: #102E32;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background-color: white;
    padding: 12px 30px 4px 17px;
    border-radius: 0 7px 7px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.hero-collection-title p {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #102E32;
}

.hero-collection-title .eerste-woord {
    font-size: 16px;
    font-style: italic;
    color: #89ADA8;
    margin-bottom: -17px;
}

.small-collections {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
    padding-bottom: 12px;
}

a.hero-small-collection-anchor {
    width: 100%;
    min-width: 290px;
    height: 76px;
    padding: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.hero-small-collection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 7px;
    background-color: #FFF;
    border: 1px solid #E6E9EA;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

a.hero-small-collection-anchor:hover {
    transform: translate(0, 3px);
}

.hero-small-collection-title p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #102E32;
}

.hero-small-collection-title .eerste-woord {
    font-size: 14px;
    font-style: italic;
    color: #DB6E31;
    margin-bottom: -14px;
}

@media (max-width: 992px) {

    .hero-text h1 {
        font-size: 45px;
        line-height: 58px;
    }

    .hero-collection-title .eerste-woord {
        font-size: 14px;
        margin-bottom: -10px;
    }

    .hero-collection-title p {
        font-size: 20px;
    }
    
}


@media (max-width: 768px) {

    .hero-text-wrapper {
        margin-top: 110px;
    }

    .hero-bg { 
        margin-bottom: -270px;
        padding: 10px 0 300px 0;
    }

    .hero-text h1 {
        font-size: 30px;
        line-height: 43px;
    }

    .hero-text p {
        font-size: 14px;
        line-height: 25px;       
    }


    .hero-collections {
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-collection {
        height: 93px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: start;
    }

    .hero-collection img {
        width: 110px;
        height: 100%;
        border-radius: 5px 0 0 5px;
    }

    .hero-collection-title {
        flex: 1;
        position: static;
        border-radius: 0 5px 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left:  20px;
    }

    .small-collections {
        gap: 10px;
    }

    a.hero-small-collection-anchor {
        min-width: 250px;
    }

    .hero-small-collection-title p {
        font-size: 16px;
    }

    .hero-small-collection-title .eerste-woord {
        display: none;
    }

    a.hero-collection {
        height: unset;
    }
}